@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
  }

.lato-regular{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

*{margin: 0;
  padding: 0;
  overflow-x: hidden;}

h1{font-family: Montserrat;
   font-size: 50px;
       }

h3{font-family: Montserrat;
   font-size: 40px;
       }

p{font-family: Lato;
}

.secNav{width: 100vw;
        height: 80px;
        background-color: #2c3e50;
        color: white;}

nav{display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;}        

.secNavDiv1{
        width: 60vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
}

.secNavDiv2{
    width: 40vw;
    height: auto;
    display: flex;
    gap:20px;
    font-size: 13px;
    font-weight: 600;
}

.Sec1{
    height: 60vh;
    width: 100vw;
    background-color: #dc3545;
    display: flex;
    align-items: center;
}

.sec2{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec1flex{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.Sec1Div1{
    display: flex;
    justify-content: center;
}

.Sec1Img{
    height: 25vh;
}

.Sec1Div2{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.DivPortfolioImg {
    width: 66vw;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.DivPortfolioImg img{
    height: 25vh;
}

.DivPortfolio{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

.ImgPortolio{
    margin:10px;
    border-radius: 5px;
}

.sec3{ 
    height: 50vh;
    width: 100vw;
    background-color: #dc3545;
}

.DivAbout{
    text-align: center;
    color: white;
    margin-top: 50px;
}

.TextDivAbout{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: white;
    margin-top: 30px;
    line-height: 1.5;
}

.SecContact h3{
    text-align: center;
    margin-top: 50px;
}

.SecContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    margin-bottom: 55px;
    height: 95vh;
}

form{
    font-family: Lato;
    font-size: 20px;
    line-height: 1.5;
    color: #838e94;
}

form input, textarea{
    width: 65vh;
    border:none;
    border-bottom: rgba(128, 128, 128, 0.145) solid 1px;
}

textarea{
    height: 20vh;
    resize: none;
}


.footersec1{
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-family: Montserrat;
}

.footersec1 h5{
   font-weight: 700;
}

.footersec2{
    background-color:#1a252f;
    color: white;
    text-align: center;
}

